<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Auth callback</title>
    <script type="text/javascript">
      localStorage.setItem("AccessToken", "<%= accessToken;  %>");
      localStorage.setItem("IdToken", "<%= idToken;  %>");
      localStorage.setItem("RefreshToken", "<%= refreshToken;  %>");
      localStorage.setItem("TokenType", "<%= tokenType; %>");
      localStorage.setItem("URI", "<%= uri; %>");
      localStorage.setItem("ClientID", "<%= clientId; %>");
      window.location.href = "/create";
    </script>
  </head>
  <body></body>
</html>
